/* ==============================================
   LOGIN PAGE
   ==============================================*/

/* Remove extra padding from main wrapper on login page */
body.pagelayout-login div.container-fluid.pt-5.mt-0 {
  padding: 0 !important;
   overflow: hidden;
}

/* LOGIN FORM WHITE BACKGROUND STYLING */
.login-container {
        width: 320px !important;
        height: 100vh;
        border-radius: 0px;
        overflow: hidden;
   padding :20px;
    }

/* LOGIN FORM CENTERING */
div.login-container > div {
  display: flex;
  justify-content: center;   // centers horizontally
  align-items: center;       // centers vertically
}



body.pagelayout-login #page-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


/*  LOGIN FORM LOGO */
img.img-fluid {
   width: 200px;
   margin-bottom: 20px;
}

/*  LOGIN FORM ANIMATION  */

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body.pagelayout-login .loginform {
  animation: fadeInUp 0.8s ease-out both;
}


