/* ==============================================
   LOGIN PAGE
   ==============================================*/

/* Remove extra padding from main wrapper on login page */
body.pagelayout-login div.container-fluid.pt-5.mt-0 {
  padding: 0 !important;
   overflow: hidden;
}

/* LOGIN FORM WHITE BACKGROUND STYLING */
.login-container {
        width: 380px !important;
        height: 100vh;
        border-radius: 0px;
        overflow: hidden;
    }



body.pagelayout-login #page-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


/*  LOGIN FORM LOGO */
img.img-fluid {
   width :200px;
}
